<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../static/css/weui.min.css" media="screen" title="no title" charset="UTF-8">
    <link rel="stylesheet" href="../static/css/coupon.css" media="screen" title="no title" charset="UTF-8">
    <title>优惠券</title>
  </head>
<body id="app" ontouchstart="" v-cloak>
<div class="productView">
 	 <div v-for="comment in comments" class="comments">
 	 	<div class="product">
            <div class="part1">
                <div class="coupon">
                    优惠券
                </div>
                <div class="couponDate">
                    <span>2017-02-26</span>
                    <span class="ele">E乐饮</span>
                </div>
            </div>

            <div class="head">
            	<img src="../static/images/pic-Coupon1.png"/>


            </div>
            <div class="content">
            	<a href="ticketDetail.html">点击领取满送优惠券</a>

            </div>
            <div class="foot">
            	<img src="../static/images/pic-Coupon2.png"/>

            </div>

            </div>
 	  	 </div>

 </div>

</body>
</html>
