<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta http-equiv="content-type" content="text/html; charset=">
    <link rel="stylesheet" href="../static/css/nearbyCoffee.css" media="screen" title="no title" charset="">  
    
    <title>附近咖啡</title>
  </head>
  <body id="app" >
    <header data-am-widget="header" class="am-header am-header-default tm-head am-no-layout" id="shortbar">			
	<h1 class="am-header-title1">
        <div class="search-box">
           <input type="text" name="title" class="index-search" placeholder="暨南大学">
           <input type="submit" value="" class="search-icon"> 
           <input type="button" value="搜索" class="search-button" />
        </div>
    </h1>	
   </header>
   

  </body>
</html>

