@charset "utf-8";
*{margin:0; padding:0; list-style:none; font-family:'΢���ź�', Arial; font-size:.16rem; text-decoration:none;}
html{font-size:calc(100vw/3.75);}
html, body{width:100%; height:100%;position: relative;-webkit-overflow-scrolling: touch;overflow:auto;overflow-x:hidden;}
body{background-color:#ffffff;}
.productView {
    position: relative;
    padding-bottom: 0px;
}
.product {
    width: 100%;
    margin-top: .05rem;
    position: relative;
}
.part1 {
    height: .38rem;position: relative;
}
.coupon {
    position: absolute;height: .38rem;line-height: .42rem;margin-left: .2rem;
}
.couponDate {
position: absolute;height: .38rem;line-height: .38rem;right: 2.17rem;color:#626262;top: 0.45rem;
}
.ele{
	color: #78b937;
	font-size: .18rem;

}

.head {
    height: auto;
    position: relative;
    text-align: center;
    top: 0.6rem;
}
.head img{
	width: 90%;
	height: 50%;

}
.content{

	height: auto;
    position: relative;
    text-align: center;
    top: 0.6rem;

}
.content a{
	color: #78b937;
}
.foot {
    height: auto;
    position: relative;
    text-align: center;
    top: 0.6rem;
}
.foot img{
	width: 90%;
	height: 40%;

}
